
<main class="main">
  <div>
    {{title}}
  </div>
  <p>Hello, world!</p>

  <div>sum of 2 plus 2 is {{2+2}} </div>

  <div> double of 3 is {{duplicateNumber(3)}} </div>
 <h1>MOvie Data</h1>
  
  <div *ngFor="let movie of movies; let index =index" class="movie-container">
  <div> 
  
  {{index}}  <H1> title: {{movie.title| uppercase}}</H1>
  </div>
  <div>
    date: {{ movie.releaseDate | date:"dd/MM/yyyy"}}

  </div>
  <div>
    Price: {{movie.price | currency}}
  </div>
</div>
</main>


<!-- <router-outlet></router-outlet> -->